.campo {
    margin: 24px 0;
}

.campo label {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
}

.campo input {
    background: #FFFFFF;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    border-radius: 0px;
    width: 95%;
    border: none;
    font-size: 22px;
    padding: 24px;
    box-sizing: border-box;
}

.campo-color input {
    height: 40px;
    padding: 5px 24px;
}
@media only screen and (max-width: 1100px){
    .campo input {
        font-size: 18px; 
        padding: 16px; 
    }
    .campo label {
        font-size: 19px;
    }
}

@media only screen and (max-width: 768px) {
    .campo input {
        font-size: 18px; 
        padding: 16px; 
    }
    .campo label {
        font-size: 19px;
    }
}


@media only screen and (max-width: 400px){
    .campo input{
        font-size: 15px;
        padding: 14px;

    }
    .campo label {
        font-size: 15px;

    }

}