.banner {
    background-color: #6278F7;
    text-align: center;
}

.banner img {
    max-width: 100%;
    height: auto;
}

@media screen and (min-width: 768px) {
    .banner img {
        max-width: 60%;
    }
}
