.lista_suspensa label {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
}

.lista_suspensa select {
    -webkit-appearance: none;
    -webkit-user-select: auto;
    background-color: #FFF;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 24px;
    box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
    .lista_suspensa label {
        margin-bottom: 5px;
        font-size: 19px;
    }

    .lista_suspensa select {
        font-size: 18px;
        padding: 16px;
    }
}

@media only screen and (max-width: 400px) {
    .lista_suspensa label {
        margin-bottom: 4px;
        font-size: 15px;
    }

    .lista_suspensa select {
        font-size: 15px;
        padding: 14px;

    }

}